@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <h1 class="display-2 text-warning">To</h1>
    <h1 class="display-1">Ascom <b>Secured</b> Select Payment Gateway</h1>
    <p class="mt-4">
        <img src="~/images/logo-icon.png" alt="">
    </p>
</div>
